<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:task="http://www.springframework.org/schema/task"     
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.2.xsd	
       http://www.springframework.org/schema/task 
     http://www.springframework.org/schema/task/spring-task-3.2.xsd
     http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-3.2.xsd" 
			default-lazy-init="true">
			
	<!-- 自动扫描并注入 --> 
    <context:component-scan base-package="com.searchengine" />
			
		<task:scheduler id="scheduler" pool-size="10" />  
    <task:executor id="executor" keep-alive="3600" pool-size="100-200" 
    queue-capacity="500" rejection-policy="CALLER_RUNS" /> 
    <task:annotation-driven executor="executor" scheduler="scheduler" />
			
     
<!-- 
  
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/test" />
        <property name="username" value="root" />
        <property name="password" value="root" />
        <property name="initialSize" value="10" />
        <property name="maxActive" value="20" />
   
   </bean>
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
         <property name="mapperLocations" value="classpath*:com/earchengine/dao/*Mapper.xml" /> 
         <property name="configLocation" value="classpath:mybatis-config.xml"></property>  
    </bean>
    

    <bean id="articleDao" class="org.mybatis.spring.mapper.MapperFactoryBean">  
    	<property name="mapperInterface" value="com.searchengine.dao.ArticleDao" />  
    	<property name="sqlSessionFactory" ref="sqlSessionFactory" />  
	</bean>
	
	 

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.searchengine.dao" />
    </bean> 
 -->
</beans> 